<h1>Eat-Da-Burger!</h1>
<h2>Eat any of the green burgers remaining! Any previously devoured burgers will appear in red. Go ahead, pick one and enjoy!!!</h2>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class="burgerAvailable"> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="burgerEaten">
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger Option</h2>

<div class="row">
  <div class="col s12">
    <div class="form-group">
      <form action="/burgers" method="POST">
        <input type="text" class="form-control" id="name" name="burger_name" placeholder="Enter Any Delicious Burger You Would Like!">
        <button type="submit" class="addBurgerButton">Add The Burger</button>
      </form>
    </div>
  </div>
</div>